.ba-footer {
  padding: 80px 10px;
  background: url(../img/foto-pettine-IfjHaIoAoqE-unsplash.jpg);

  background-size: cover;
  background-position-y: 100%;
  background-position-x: 50%;

  p {
    font-size: 24px;
    color: white;
  }
}

.ba-svg--footer {
  display: flex;

  justify-content: flex-start;
}

.ba-column--footer {
  display: flex;
  flex-direction: row;
  a + a {
    margin-left: 20px;
  }
  a {
    display: block;
    margin-bottom: 15px;
  }
  @media (max-width: 640px) {
    a + a {
      margin-left: 35px;
    }
  }
}

.ba-email {
  max-width: 324px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 34px;
  &__input {
    flex-grow: 1;
  }
  @media (max-width: 640px) {
    min-width: 304px;
  }
  &:active {
    outline: none;
    border-style: none;

    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
  }
  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  }
}
.ba-form-box {
  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin-bottom: 0;
  }
}

.ba-footer-flex {
  display: flex;

  justify-content: space-between;
  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }
}

.ba-info-block {
  a {
    color: #fff;
    line-height: 2;
    margin: 0 5px;
  }
  display: flex;

  .ba-svg-no-border {
    border: none;
  }
  svg {
    border: 1px solid #fff;
    border-radius: 50%;
  }
}
.ba-svg-no-border {
  border: none;
}

.ba-flex-con {
  display: flex;
  align-items: center;
  flex-direction: row;
  @media (max-width: 640px) {
    flex-direction: column;
  }
}

.ba-email__input {
  border-style: none;
}
.ba-info-box {
  margin-bottom: 10px;
}

.ba-box-flex {
  display: flex;
  flex-direction: column;
}

.ba-bullet {
  &--f {
    margin-left: 20px;
  }
}

.ba-btn-rotate {
  transform: rotate(90deg);
  @media (max-width: 640px) {
    display: none;
  }
}

.ba-svg-rotate {
  transform: rotate(-90deg);
}

.ba-btn-content--arrow {
}
.ba-logo--footer {
  @media (min-width: 1024px) {
    position: relative;

    bottom: 32px;
    margin: 35px;
  }
}
