.ba-header {
  position: absolute;
  padding: 20px;
  width: 100%;
  color: #fff;
  svg {
  

    &:hover {
      
      transition: all 0.5s ease;
    }
  }
}
a {
  text-decoration: none;

  color: $primary-color;
  &:hover {
    color: rgb(124, 124, 124);
  }
}

.ba-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.ba-a-active {
  &::after {
    content: "";
    height: 4px;
    margin: 0 auto;
    width: 4px;
    display: block;
    border-radius: 50px;
    background-color: $primary-color;
  }
}

.ba-menu {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin-top: 0;

  li + li {
    margin-left: 19px;
  }
  @media screen and(max-width: $medium) {
    display: none;
  }

  a {
    letter-spacing: 0.2px;
  }
}

.ba-logo {
  color: #fff;
  svg {
    fill: current-color;
  }
}
