.ba-gallery {
  padding-bottom: 30px;
  img {
    &:hover {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}

.ba-pics {
  img {
    line-height: 0;
    max-width: 100%;
  }
  display: flex;
  justify-content: space-between;
}

.ba-img-superior {
  margin-bottom: -1px;
  .ba-img-block + .ba-img-block {
    margin-left: 29px;
  }
}

.ba-img-inferior {
  .ba-img-block + .ba-img-block {
    margin-left: 29px;
  }
}

.ba-img-desc {
  padding: 18px 8px;
  color: beige;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 36px;
  line-height: 0;
  background-color: rgba(0, 0, 0, 0.4);
  p {
    margin: 0;
    line-height: 0;
  }
}

.ba-img-block {
  display: inline-block;
  line-height: 0;
  img {
    &:hover {
      color: rgba(0, 0, 0, 0.4);
    }
  }
}
