.ba-gallery {
  padding-bottom: 10px;

  .ba-button {
    display: none;
    display: block;
    margin: 0 auto;
    margin-top: 10px;

    @media (min-width: $large) {
      position: relative;
      left: 91%;
    }
    img {
    }
  }

  .ba-pics {
    img {
      line-height: 0;
      max-width: 100%;
    }
    display: flex;
    justify-content: space-between;
    @media (max-width: 1024px) {
      display: none;
    }
  }

  .ba-pics-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 640px) {
      display: none;
    }
  }

  .ba-img-superior {
    margin-bottom: -1px;
    .ba-img-block + .ba-img-block {
      margin-left: 29px;
    }
  }

  .ba-img-inferior {
    .ba-img-block + .ba-img-block {
      margin-left: 29px;
    }
  }

  .ba-img-desc {
    padding: 18px 8px;
    color: beige;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 36px;
    line-height: 0;
    background-color: rgba(0, 0, 0, 0.4);

    p {
      margin: 0;
      line-height: 0;
    }
  }

  .ba-img-block {
    display: inline-block;
    line-height: 0;

    &:hover {
      img {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }
}
