.ba-about {
  padding: 90px 0;
}

.ba-author {
  p {
    font-size: 22px;
    font-weight: 300;
    font-family: "Yanone Kaffeesatz";
    line-height: 1.2;
  }
}

.ba-letter {
  font-size: 36px;
  font-weight: normal;
  line-height: 0;
}
