$primary-color: #1b1b1b;
$medium: 640px;
$large: 1024px;
@import "normalize";
@import "layout";
@import "elements";

@import url("https://fonts.googleapis.com/css?family=Montserrat:800,900|Yanone+Kaffeesatz:300,400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font: 300 17px/1.5 Yanone Kaffeesatz, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 30px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Montserrat";
}

h1 {
  font-size: 64px;
  -webkit-text-fill-color: transparent;
  //text-shadow: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.15);
  font: 900 64px/1.5 Monsterrat, sans-serif;
  letter-spacing: -1px;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-family: Yanone Kaffeesatz;
}

h4 {
  font-size: 18px;
  font-family: "Yanone Kaffeesatz";

  font-weight: 400;
}

p {
  margin: 0 0 25px;
  font: 300 17px/1.5 Yanone Kaffeesatz, sans-serif;
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1190px;
}
.ba-container-small {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1033px;
}
.ba-container-header {
  padding-left: 20px;
  padding-right: 20px;
}

.ba-button {
  font: 300 16px Yanone Kaffeesatz, sans-serif;

  display: inline-block;
  min-height: 35px;
  line-height: 35px;
  background: transparent;

  border: 1px solid #fff;
  border-radius: 34px;

  // outline: 1px  solid #fff; /* Пунктирная рамка */
  // outline-offset: 3px ; /* Выводим рамку внутри элемента */

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  &:focus > a {
    border-color: $primary-color;
  }
}

.ba-button--large {
  padding: 2px;
  outline: none;

  @media screen and(max-width: $medium) {
    font-size: 14px;
    padding: 0 60px;
  }
}
a {
  text-decoration: none;
  transition: all 0.5s ease;
}

.ba-btn-content {
  display: inline-block;
  background: #fff;
  color: $primary-color;
  display: inline-block;
  border-radius: 34px;
  padding: 0 66px;
  &:focus {
    color: #fff;
    background-color: $primary-color;
  }

  /*&:focus {
    color: #fff;
    background-color: $primary-color;
  }*/
}

/*.ba-holder {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 34px;
  &:focus {
    color: $primary-color;
  }
}
*/
/*.ba-b-white {
  &:focus {
    color: $primary-color;
  }
}
*/
@import "section-intro-main";
@import "header";
@import "section-services-main";
@import "section-gallery";
@import "section-about-us";
